@font-face{
	font-family: prettyFont;
	src: url(app/styles/fonts/Infinite_Stroke.otf);
}

@font-face{
	font-family: antiqueFont;
	src: url(app/styles/fonts/antique_book_cover.otf);
}

#main{
	-webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeIn 3s; /* Firefox < 16 */
	-ms-animation: fadeIn 3s; /* Internet Explorer */
	-o-animation: fadeIn 3s; /* Opera < 12.1 */
	animation: fadeIn 3s;
}

menu{
	padding: 0;
	margin: 0;
}

#topMenu{
	min-height: 50px;
	background-color: #0057e7;
}

#logo{
	font-family: prettyFont;
	background-color: #004ecf;
	min-height: 50px;
	color: #ffffff;
	font-size: 150%;
	padding-top: 10px !important;
	cursor: pointer;
}

.alignCenter{
	text-align: center;
	vertical-align: middle;
}

.alignRight{
	text-align: right;
	vertical-align: middle;
}

#topLeftMenu{
	padding: 0;
}

#topLeftMenu > ul{
	padding: 0 0 0 10px;
	font-family: antiqueFont;
	font-size: 200%;
	list-style-type: none;
	margin: 0 auto;
	height: inherit;
	line-height: 30px;
	position: relative;
	padding-top: 10px;
}

#topLeftMenu > ul > li{
	padding: 0 10px 0 10px;
	display:inline-block;
	height: inherit;
	vertical-align: middle;
	cursor: pointer;
	color: #00348a;

	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
}

#topLeftMenu > ul > li:hover{
	color: #ffffff;
}

.antiqueFont{
	padding-top: 8px;
	color: #ffffff;
	font-family: antiqueFont;
	font-size: 200%;
}

/*
	http://www.color-hex.com/color-palette/1872
	*/

	.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{
		padding: 0 !important;
	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Firefox < 16 */
	@-moz-keyframes fadeIn {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Safari, Chrome and Opera > 12.1 */
	@-webkit-keyframes fadeIn {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	/* Internet Explorer */
	@-ms-keyframes fadeIn {
		from { opacity: 0; }
		to   { opacity: 1; }
	}