@import 'variables';
@import 'font-awesome-4.7.0/scss/font-awesome';
@media screen and (max-width: $phone){
	@import 'stylesPhone';
}

@media screen and (min-width:$phone+1) and (max-width:$tablet){
	@import 'stylesTablet';
}

body{
	padding: 0;
	margin: 0;
}

.breakWord{
	white-space: normal;
	word-break: break-all;
}

#topMenu{
	min-height: 50px;
	background-color: #4b4b57;
}

.alignCenter{
	text-align: center;
	vertical-align: middle;
}

#topLeftMenu{
	padding: 0;
}