<div class="col-md-6 col-md-offset-3 alignCenter">
	<div class="row-fluid">
		<div class="container-fluid">
			<div class="row-fluid" id="storyTitle">
				<h1>{{story.title}}</h1>
			</div>
			<div class="row-fluid alignRight">
				Author: <a routerLink="/user/{{story.author.id}}">{{story.author.name}}</a><br>
				Creation date: {{story.creationDate | date: 'dd/MM/yyyy'}}
			</div>
			<div class="row-fluid breakWord" style="padding-top: 10px">
				{{story.pages}}
			</div>
		</div>
		
	</div>
	<div class="row-fluid">
		<comment *ngIf="story.id" [(id)]="story.id"></comment>
	</div>
</div>




