<div class="container-fluid">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="container-fluid alignCenter">

			<div class="row">
				<h1 class="antiqueFont">Comments</h1>
			</div>

			<div class="row" style="padding: 15px !important" *ngIf = "this.userDataProvider.isLoggedIn()">

				<form (ngSubmit)="addComment()" #commentForm="ngForm" *ngIf = "this.add">
					<div class="col-md-11">
						<textarea class="form-control" rows="3" name="content" style="resize: none" [(ngModel)]="addCommentContent.content" minlength="6" maxlength="255" #text="ngModel" placeholder="COMMENT" required></textarea>
					</div>
					<br>
					<div class="col-md-1">
						<button class="btn btnGreen" type="submit" [disabled]="!commentForm.form.valid">
							ADD
						</button>
					</div>
				</form>

				<form (ngSubmit)="editComment()" #commentForm="ngForm" *ngIf = "!this.add">
					<div class="col-md-11">
						<textarea class="form-control" rows="3" name="content" style="resize: none" [(ngModel)]="addCommentContent.content" minlength="6" maxlength="255" #text="ngModel" placeholder="COMMENT" required></textarea>
					</div>
					<br>
					<div class="col-md-1">
						<button class="btn btnGreen" type="submit" [disabled]="!commentForm.form.valid">
							EDIT
						</button>
					</div>
				</form>

			</div>

		</div>

		<div class="container-fluid" style="margin-top: 1%" *ngFor="let comment of comments">
			
			<div class="row-fluid">

				<div class="col-md-11">
					<span>
						Author: <a routerLink="/user/{{comment.author.id}}">{{ comment.author.name }}</a> 
						{{ comment.date }}
					</span>
					<span *ngIf = "comment.edited">
						EDITED
					</span>
				</div>

				<div class="col-md-1 alignRight" *ngIf = "checkAccessToComment(comment)">
					<i class="fa fa-pencil" aria-hidden="true" (click)="prepareEditComment(comment)"></i>
					<i class="fa fa-times" aria-hidden="true" (click)="deleteComment(comment)"></i>
				</div>

			</div>

			<div class="row-fluid">
				<div class="col-md-12">
					{{ comment.content }}
				</div>
			</div>

			<div class="row-fluid">
				<div class="col-md-12">
					{{ comment.likes}} <i class="fa fa-thumbs-o-up" aria-hidden="true" (click)="like(comment)"></i>
					{{ comment.dislikes}} <i class="fa fa-thumbs-o-down" aria-hidden="true" (click)="dislike(comment)"></i>
				</div>
			</div>

		</div>

		<div class="container-fluid">
			<button class="btn btnGreen" style="width: 100%" (click)="loadMore()">
				Load more 
			</button>
		</div>

	</div>

</div>