<div id="favouritePlaces" class="container-fluid" [style.width]="calculateWidth()" *ngIf="isLoggedIn()">
	<div id="favouritePlacesList" class="col-md-11 col-xs-11" style="height: 100vh" *ngIf="isShowLeftPanel()">
		<div class="container-fluid" style="padding: 0">
			<div class="col-md-6 col-xs-3 favouriteBox buzz-out" align="center" *ngFor="let favouritePlace of favouritePlaceList" (click)="redirect(favouritePlace)">
				<div class="row-fluid favouriteBoxFacet">
					<span class="fa {{favouritePlace.facet}} fa-3x"></span>
				</div>
				<div class="row-fluid favouriteBoxName breakWord" >
					{{favouritePlace.name}}
				</div>
			</div>
		</div>
	</div>
	<div id="favouritePlacesButton" class="alignCenter" (click)="showHidePanel()" [ngClass]="{'col-md-12':!isShowLeftPanel(), 'col-md-1':isShowLeftPanel(), 'col-xs-12':!isShowLeftPanel(), 'col-xs-1':isShowLeftPanel()}">
		<i class="fa fa-angle-double-left" aria-hidden="true" *ngIf="isShowLeftPanel()"></i>
		<i class="fa fa-angle-double-right" aria-hidden="true" *ngIf="!isShowLeftPanel()"></i>
	</div>
</div>