<div id="favouritePlaces" class="container-fluid">
	<div class="col-md-6 col-xs-3 favouriteBox" align="center">
		<div class="row-fluid favouriteBoxFacet">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="row-fluid favouriteBoxName breakWord">
			USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER
		</div>
	</div>
	<div class="col-md-6 col-xs-3 favouriteBox" align="center">
		<div class="row-fluid favouriteBoxFacet">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="row-fluid favouriteBoxName breakWord">
			USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER
		</div>
	</div>
	<div class="col-md-6 col-xs-3 favouriteBox" align="center">
		<div class="row-fluid favouriteBoxFacet">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="row-fluid favouriteBoxName breakWord">
			USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER
		</div>
	</div>
	<div class="col-md-6 col-xs-3 favouriteBox" align="center">
		<div class="row-fluid favouriteBoxFacet">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="row-fluid favouriteBoxName breakWord">
			USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER
		</div>
	</div>
	<div class="col-md-6 col-xs-3 favouriteBox" align="center">
		<div class="row-fluid favouriteBoxFacet">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="row-fluid favouriteBoxName breakWord">
			USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER
		</div>
	</div>
	<div class="col-md-6 col-xs-3 favouriteBox" align="center">
		<div class="row-fluid favouriteBoxFacet">
			<span class="fa fa-user fa-3x"></span>
		</div>
		<div class="row-fluid favouriteBoxName breakWord">
			USERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSERUSER
		</div>
	</div>
</div>
