<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		<div class="container-fluid alignCenter">

			<div class="row">
				<h1 class="antiqueFont">User {{ user.name }}</h1>
			</div>

			<div class="row">

				<div class="col-md-4">
					<h2 class="antiqueFont">User Details <i *ngIf="accessUser" routerLink="../edit" class="fa fa-pencil" aria-hidden="true"></i></h2>
					<label>EMAIL: </label>{{ user.mail }}
				</div>

				<div class="col-md-4">
					<h2 class="antiqueFont">User Stories</h2>
					<div *ngFor="let story of stories">
						<label>
							Title: 
						</label>
						<a routerLink="/story/{{ story.id }}">
							{{ story.title }}
						</a>
						{{ story.rate }}
					</div>
				</div>

				<div class="col-md-4">
					<h2 class="antiqueFont">User Comments</h2>
					<div *ngFor="let comment of comments">
						<label>
							Comment:
						</label>
						{{ comment.content }}
						<i *ngIf="accessUser" (click)="prepareEditComment(comment)" class="fa fa-pencil" aria-hidden="true"></i>

						<form (ngSubmit)="editComment()" #commentForm="ngForm" *ngIf = "this.edit && comment.id == editCommentContent.id">
							<div class="col-md-11">
								<textarea class="form-control" rows="3" name="content" style="resize: none" [(ngModel)]="editCommentContent.content" minlength="6" maxlength="255" #text="ngModel" placeholder="COMMENT" required></textarea>
							</div>
							<br>
							<div class="col-md-1">
								<button class="btn btnGreen" type="submit" [disabled]="!commentForm.form.valid">
									EDIT
								</button>
							</div>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
