<div id="userPanel" class="row">
	<div class="col-md-9 col-xs-10">
		<div class="row-fluid antiqueFont" *ngIf="!isLoggedIn()" style="padding-top: 12px" routerLink="/login">
			LOGIN / REGISTER
		</div>
		<div class="row-fluid" *ngIf="isLoggedIn()" style="padding-top: 12px">
			PO ZALOGOWANIU
		</div>
	</div>
	<div class="col-md-3 col-xs-2">
		<div class="dropdown" >
			<img class="dropdown-toggle" style="padding-top: 10px" data-toggle="dropdown" src="..\app\translations\flags\poland.png"/>
			<ul id="flag" class="dropdown-menu">
				<li><img src="..\app\translations\flags\poland.png"/></li>
				<li><img src="..\app\translations\flags\england.png"/></li>
				<li><img src="..\app\translations\flags\germany.png"/></li>
				<li><img src="..\app\translations\flags\spain.png"/></li>
				<li><img src="..\app\translations\flags\france.png"/></li>
			</ul>
		</div>
	</div>

	
</div>