<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3 col-xs-12">
		<form (ngSubmit)="add()" #addStoryForm="ngForm">
			<h1 id="siteHeader">
				<span>ADD STORY</span> <i class="fa fa-info-circle"
					aria-hidden="true" (click)="showTips()" style="cursor: pointer"
					[ngClass]="{'redTips':!addStoryForm.form.valid, 'greenTips':addStoryForm.form.valid}"></i>
			</h1>
			<div class="row-fluid" *ngIf="isShowTips()">
				<div class="col-md-12">
					<ul>
						<li><span
							[ngClass]="{'redTips':title.errors, 'greenTips':!title.errors}">
								Title is mandatory and should be between 6 and 128 characters
								long. </span></li>
						<li><span
							[ngClass]="{'redTips':type.errors, 'greenTips':!type.errors}">
								Type is mandatory. </span></li>
						<!-- <li>
							<span [ngClass]="{'redTips':keywords.errors, 'greenTips':!keywords.errors}">
								Keywords should have less than 50 characters. Keywords will work only if they are composed of single words separated by commas. Otherwise, system will skip them before saving the story.
							</span>
						</li> -->
						<li><span
							[ngClass]="{'redTips':description.errors, 'greenTips':!description.errors}">
								Description is mandatory and should be between 10 and 128
								characters long. </span></li>
						<li><span
							[ngClass]="{'redTips':text.errors, 'greenTips':!text.errors}">
								Text is mandatory and should be between 200 and 8000 characters
								long. </span></li>
					</ul>
				</div>
			</div>

			<div class="row-fluid">
				<div class="form-group">
					<label for="storyTitle">Title</label> <input name="storyTitle"
						class="form-control" type="text" [(ngModel)]="story.name"
						#name="ngModel" placeholder="TITLE" minlength="6" maxlength="128"
						required />
				</div>
				<div class="form-group">
					<label for="storyType">Type</label> <select name="storyType"
						class="form-control" [(ngModel)]="story.type" #type="ngModel"
						placeholder="TYPE" required>
						<option [value]=""></option>
						<option [value]="type" *ngFor="let type of storyTypes">{{type}}</option>
					</select>
				</div>
				<!-- <div class="form-group">
					<label for="storyKeywords">Keywords</label>
					<input name="storyKeywords" class="form-control" type="text" [(ngModel)]="story.keywords" placeholder="KEYWORDS" maxlength="50" #keywords="ngModel"/>
				</div> -->
				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" rows="2" name="description"
						style="resize: none" [(ngModel)]="story.description"
						minlength="10" maxlength="128" #description="ngModel"
						placeholder="DESCRIPTION" required></textarea>
				</div>
				<div class="form-group">
					<label for="text">Story text</label>
					<textarea class="form-control" rows="40" name="text"
						style="resize: none" [(ngModel)]="story.rawText" minlength="200"
						maxlength="8000" #text="ngModel" placeholder="STORY TEXT" required></textarea>
				</div>
				<button class="btn btnGreen" type="submit"
					[disabled]="!addStoryForm.form.valid">ADD</button>
			</div>
		</form>
	</div>
</div>
