<div class="container-fluid" style="text-align: center; padding-top: 2%">

	<div class="row-fluid col-md-12" style="padding-bottom: 1% !important">
		<form (ngSubmit)="search()" #searchForm="ngForm" class="form-inline">
			<div class="col-md-9 form-group" style="padding: 1% !important">
				<input name="text" type="text" class="form-control" placeholder="{{ 'SEARCH_STORY' | translate:param }}" required [(ngModel)]="text" style="width: 100%">
			</div>
			<div class="col-md-1 form-group" style="padding: 1% !important">
				<button class="btn btnGreen" type="submit" [disabled]="!searchForm.form.valid" style="width: 100%">
					{{ 'SEARCH' | translate:param }}
				</button>
			</div>
			<div class="col-md-1 form-group" style="padding: 1% !important">
				<button class="btn btn-danger" (click)="reset()" type="reset" [disabled]="!searchForm.form.valid" style="width: 100%">
					{{ 'CLEAR' | translate:param }}
				</button>
			</div>
			<div class="col-md-1 form-group" style="padding: 1% !important">
				<button class="btn btn-primary" (click)="showFilters()" type="reset" style="width: 100%">
					{{ 'FILTER' | translate:param }}
				</button>
			</div>
		</form>	
	</div>

	<div *ngIf="this.filters" class="row-fluid col-md-12" style="padding-bottom: 1% !important">
		FILTERS
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{ 'STORY.NAME' | translate:param }}</th>
				<th>{{ 'STORY.DESC' | translate:param }}</th>
				<th>{{ 'STORY.AUTH' | translate:param }}</th>
				<th>{{ 'STORY.ACT' | translate:param }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let story of stories" style="text-align: left; word-break: break-all;" routerLink="/story/{{ story.id }}">
				<td>
					<div>
						{{ story.name }}
					</div>
					<div>
						{{ story.avgRate }}
					</div>
				</td>
				<td>{{ story.description }}</td>
				<td>{{ story.author.name }}</td>
				<td>
					EDIT REMOVE
				</td>
			</tr>
		</tbody>
	</table>

	<div class="row-fluid col-md-12">
		<div class="col-md-6 col-xs-6" style="text-align: left; padding: 1% !important">
			{{ 'SHOW' | translate:param }} {{ this.listSize }} {{ 'STORIES' | translate:param }}
		</div>
		<div class="col-md-6 col-xs-6" style="text-align: right; padding: 1% !important">
			{{ 'PAGE' | translate:param }} 
		</div>
	</div>

</div>