<div id="main" class="wraper">
	<div id="header" class="row">
		<div class="col-md-12">
			<div class="row-fluid">
				<div id="logo" class="col-md-7">
					Story World
				</div>
				<div class="col-md-5">
					<userPanel></userPanel>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-12">
					<menu></menu>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="row">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet enim et nunc rhoncus tincidunt. Sed aliquam, sapien ac dignissim pretium, nisl metus rutrum purus, a fringilla purus magna in ligula. Maecenas ac viverra lacus, in vestibulum est. Morbi elementum ligula eget porta commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque eu mollis erat. Morbi pharetra eleifend maximus. Vestibulum suscipit lacus nec arcu tristique molestie. Praesent varius tortor risus, at placerat magna consequat malesuada. Sed rutrum, orci eget sagittis volutpat, nisl magna feugiat urna, eget semper nunc sapien ac nunc. Pellentesque pretium elementum lacinia. Nunc nibh est, egestas ac urna id, ullamcorper ultricies magna. Integer sodales posuere varius.

		Curabitur dapibus neque suscipit libero facilisis semper ut et dolor. Fusce dictum et quam suscipit mattis. Donec congue sagittis sem, ut consectetur eros malesuada at. Sed lobortis ultrices urna nec tincidunt. Nulla facilisi. Ut euismod sodales lectus, eu ultricies mauris maximus non. Aenean nisi elit, tempus a tempus id, lacinia finibus dui. Maecenas consectetur tellus ac tellus ullamcorper, vitae sodales orci tempor. Vivamus elementum ante vitae volutpat gravida. Cras feugiat nunc at molestie facilisis. Nam nibh ligula, eleifend at sapien nec, tincidunt auctor lorem. Aenean blandit, libero in pulvinar euismod, arcu urna luctus justo, et sollicitudin ex nulla et arcu. Praesent in porttitor dui. Curabitur neque orci, porttitor et massa ac, ornare finibus enim. 
	</div>
	<div id="footer" class="row">
		<div class="col-md-12">
			<div class="row-fluid">
				<div class="col-md-8">
					FOOTER
				</div>
				<div id="logo" class="col-md-4">
					Story World
				</div>
			</div>
			<div class="row-fluid alignCenter">
				copyright ....
			</div>
		</div>
	</div>
</div>