<div class="row-fluid">
	<div id="menu" class="col-md-12" style="height: 70px; text-align: center;">
		<ul>
			<li style="vertical-align: middle;">
				HOME
			</li>
			<li style="vertical-align: middle;">
				STORY
			</li>
			<li style="vertical-align: middle;">
				COS1
			</li>
			<li style="vertical-align: middle;">
				COS2
			</li>
			<li style="vertical-align: middle;">
				INFO
			</li>
			<li>
				CONTACT
			</li>
		</ul>
	</div>
</div>
<div id="quote" class="row-fluid">
	<div class="col-md-12">
		<div class="alignCenter">
			"Wyobraznia bez wiedzy moze stworzyc rzeczy piekne. Wiedza bez wyobrazni najwyzej doskonale."
		</div>
		<div class="alignRight">
			-Albert Einstein
		</div>
	</div>
</div>
