<div class="row-fluid">
	<div id="topMenu" class="col-md-12">
		<div class="row-fluid">
			<div id="logo" class="col-md-1 alignCenter">
				<!-- <a href=""> -->
				Story World
				<!-- </a> -->
			</div>
			<div id="topLeftMenu" class="col-md-8">
				<ul>
					<li routerLink="/">
						HOME
					</li>
					<li routerLink="/story/1">
						Story 1
					</li>
					<li routerLink="/story/add">
						ADD
					</li>
				</ul>
			</div>
			<div id="topLeftMenu" class="col-md-1" *ngIf="isLoggedIn()" >
				<ul>
					<li routerLink="/user/menu">
						MY ACCOUNT
					</li>
				</ul>
			</div>
			<div class="col-md-1" *ngIf="!isLoggedIn()">
			</div>
			<div class="col-md-2">
				<userPanel></userPanel>
			</div>
		</div>
	</div>
</div>
